<div class="form-group">
	<div class="lookup">
		<div class="input-group">
			<input type="text" name="lookup" class="form-control" autocomplete="off" />
			<div class="input-group-btn">
				<button type="button" class="btn btn-default" {{action "toggleDropdown"}}><span class="glyphicon glyphicon-chevron-down"></span></button>
				<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
			</div>
		</div>
		<div class="search-results dropdown{{ if dropdown " open" }}">
			<div class="loader">...</div>
			<div class="pagination btn-center">
				<button class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-chevron-left"></span></button>
				<button class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></button>
				<span class="box">1 / 1</span>
				<button class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></button>
				<button class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span><span class="glyphicon glyphicon-chevron-right"></span></button>
			</div>
		</div>
	</div>
</div>
